
@{
    ViewData["Title"] = "AboutUs";
}

<h1>About Us</h1>

<p>Here at Sicko Psycho Cyclers we've made it our goal to provide our clients with the best possible service. Offering premium bicycles and bicycle equipment, we won't let a customer leave without the perfect bike for them.</p>
<br />
<p>Our team is filled with cycling experts from around the world. We have engineering and aerodynamic experts from Japan and Croatia and the finest retail staff in Canada. In 2013 we won the UBA(United Bikers Association) "Best Bike Store" award for our services</p>