@{
    ViewData["Title"] = "ContactUs";
}

<style>
    img {
      object-fit: cover;
      width: 100%;
    }
</style>

<body>
    <div class="container">
        <div class="jumbotron">
            <img src="~/images/contactHeader.jpg" />
        </div>
        <div class="row">
            <div class="col-md">
                <br />
                <h1>Contact Us</h1>
                <h4>Email: </h4>
                <p>SickoPsychoCyclers@gmail.com</p>
                <h4>Phone #: </h4>
                <p>(514)-420-7777</p>
                <h4>Open Hours: </h4>
                <p>
                    Monday : 10am - 8pm <br />
                    Tuesday : 10am - 8pm <br />
                    Wednesday : 10am - 8pm <br />
                    Friday : 10am - 2:30pm <br />
                    Saturday : 10am - 2:30pm <br />
                    Sunday : Closed
                </p>
            </div>
            <div class="col-md">
                <br />
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d44716.38064091334!2d-73.6177856!3d45.5347575!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cc91ed35d6fee3d%3A0xb88ef432669ff281!2sCirque%20du%20Soleil!5e0!3m2!1sen!2sca!4v1572532593462!5m2!1sen!2sca" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            </div>
        </div>
    </div>

</body>