@model IEnumerable<BikeStore.Models.BikeListModel>
@{
    ViewData["Title"] = "Touring Bikes";
}

    <h1>Touring Bike Model List</h1>

@foreach (var item in Model)
{
    <div>
        @Html.ActionLink(item.ProductModel, "Details", new { id = item.ProductModelID })
        <p>@item.Description</p>
    </div>
}

